body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    text-align: center;
}

.text-orange {
    color: #ff6600; /* Laranja */
}

.bg-black {
    background-color: #000000; /* Preto */
}

header, footer {
    margin-bottom: 30px;
    padding: 20px 0;
}

section {
    padding: 20px 0;
    text-align: center; /* Centraliza o texto */
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Centraliza o texto */
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

footer {
    background-color: #000000; /* Preto */
    color: white;
    padding: 10px 0;
}

.container {
    max-width: 800px;
    margin: auto;
}
